repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit, pre-merge-commit]
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit, pre-merge-commit]
